
script
    value   sys 1 0x0100 "/net/mmx/fs/sda0/esd/scripts/rsdb_hmi_install.sh"
    label   "Canada RSDB: place HMI startup file (MU1316 only)"

script
    value   sys 1 0x0100 "/net/mmx/fs/sda0/esd/scripts/rsdb_hmi_remove.sh"
    label   "Canada RSDB: remove HMI startup file"
